<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/reset.css">    
    <link rel="stylesheet" href="/css/style.css">    
</head>

<body>
    <div class="header">
        <h1>Tech Blog</h1>
            <div class="nav">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/">Contact</a>
            </div>
</div >
</body>

</html>