<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/reset.css">    
    <link rel="stylesheet" href="/css/style.css">    
</head>

<body>
    <div class="header">
        <h1>Tech Blog</h1>
            <div class="nav">
                <a href="/">Home</a>
                {{!-- * If the user is logged in, show logout --}}
                {{!-- {{#if user == logged_in}} --}}
                {{!-- <a href="/">Logout</a> --}}
                <a href="/dashboard">Dashboard</a>

                {{!-- {{else}} --}}
                <a href="/login">Login</a>

                {{!-- ! Show sign-up button on login page --}}
            </div>
</div >
{{!-- *This renders the sub-pages, such as dashboard --}}
{{{ body }}}
</body>

</html>