<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog </title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><a href="/">Tech Blog</a></h1>
    <nav>
        <ul>
        <li><a href="/">Home</a></li>
        {{#if loggedIn}}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><button id="logout" class="btn-no-style">Logout</li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/login">Dashboard</a></li>
        {{/if}}
    </ul>
    </nav>
    {{{body}}}

     
</body>
 {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</html>