{{!-- * Dashboard blog-posts interactivity
* New Post button
* Edit post button
* Delete post button --}}

 {{!-- * Blog form
 * Title
 * Content --}}

<div> 
    {{!-- * This button will open Modal with option to create new blog post --}}
    <button class="new-post">New Post</button>
</div>
<div class="post-creation"> 
</div>

<form>
    <input type="text" class="blog-title">Enter Title:</input>
    <input type="text" class="blog-content">Content:</input>
    <button class="blog-submit">Submit</button>
</form>

<div>
    {{!-- This div will hold created blogs --}}
</div>

