<form>
    <input type="email" class="user-email">Enter Email:</input>
    <input type="password" class="user-pw">Password</input>
        <button class="user-submit">Submit</button>
        {{!-- *Upon clicking this button, the input should be verified against current DB of users/pws --}}
        {{!-- * If the email/pw = some existent user, then login=verified --}}
</form>
